<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up </title>
    
</head>
 <style> 
    body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: url(/images/books.jpg);
    background-size: cover;
}
#lms{
    text-align: center;
    margin-top:30px;
    font-weight: bolder;
    color: #96bb7c; 
    font-size:45px;;   
    text-decoration: underline;
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    border-radius: 10px;
}
.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;

}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border:none;
    border-bottom:1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputbox label{
    position: absolute;
    left:0;
    top:0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
top:-18px;
left:0;
color: #d6efc7;
font-size: 12px;
}
.box input[type="submit"]{
background: transparent;
border: none;
outline: none;
color: #fff;
background:#96bb7c ;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
margin-right: 20px;
margin-left: 30px;
} 
#sign_up{
    text-decoration: none;
    background: transparent;
border: none;
outline: none;
color: #fff;
background:#96bb7c ;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
    margin-left: 60px;
}





</style> 
<body >
    <h1 id="lms">Sign Up Page</h1>
    <!-- sign up form -->
    <div class="box">

    
    <form method="POST" action="/signup">
        <div class="inputbox">
            <input type="text" name="username"  id="signUp_username" autocomplete="off">
            <label >Enter  username</label>
        </div>
        <div class="inputbox">
            <input type="text" name="name"  id="signUp_name" autocomplete="off">
            <label >Enter  Name</label>
        </div>
        
        <div class="inputbox">
            <input type="text" name="lName"  id="signUp_Lname" autocomplete="off">
            <label >Enter Last Name</label>

        </div>

        <div class="inputbox">
            <input type="email" name="email"  id="signUp_email" autocomplete="off">
            <label >Enter email address</label>
        </div>
        <div class="inputbox">
            <input type="tel" name="mobile_number" id="signUp_mobile" autocomplete="off">
            <label >Enter mobile number</label>
        </div>
              
        <div class="inputbox">
            <input type="password"  name="password" id="signUp_pass" autocomplete="off">
            <label >Enter password</label>

        </div>
        
        <div class="sign_button">
            {{!-- <input type="submit" value="Sign up" style="margin-left: 35%; " autocomplete="off"  id="signUp_button"> --}}
            <button type="submit" id="signUp_button" style="margin-left: 35%; ">Sign up</button>
             </div>
        </form>
        
</div>
</body>
      
</html>